mixin big-numbers()
    .big-numbers
        input.big-numbers__inp(value="11111111122222222222888888888888888888" id="first-number")
        span.big-numbers__sep +
        input.big-numbers__inp(value="222222222222222222223333333333" id="second-number")
        span.big-numbers__sep =
        b.big-numbers__res(id="numbers-result")