mixin rate-list
    .rate-list
        .rate
            a.rate__link(href="#modal")
                img.rate__img(src="static/img/device.svg" width="100px" height="100px" alt="")
                .rate__name mobile
                p.rate__title Get notifications about new releases in our mobile app.
                .rate__price
                    sup $
                    b 10
                    small / month
            a.rate__but(href="#") Confirm and pay
        .rate
            a.rate__link(href="#modal")
                img.rate__img(src="static/img/laptop.svg" width="100px" height="100px" alt="")
                .rate__name desktop
                p.rate__title Enjoy new episodes on your laptop in browser with our web service, which supports all the platforms.
                .rate__price
                    sup $
                    b 15
                    small / month
            a.rate__but(href="#") Confirm and pay
        .rate
            a.rate__link(href="#modal")
                img.rate__img(src="static/img/monitor.svg" width="100px" height="100px" alt="")
                .rate__name TV
                p.rate__title Watch your favarite series at home on large screen with our TV application.
                .rate__price
                    sup $
                    b 20
                    small / month
            a.rate__but(href="#") Confirm and pay
